#box{
    width:100%;
    height:100%;
    position:relative;
    overflow:hidden;
}
#imgdiv{
    width:100%;
    height:100%;
    background-image:url(../images/76.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:50% 50%;
    overflow:hidden;
    position:relative;
}
#imgdiv h1{
    width:145px;
    height:60px;
    font-family:xingkai;
    font-size:54px;
    position:absolute;
    top:47%;
    left:46%;
    line-height:60px;
}
#box .tu{
    opacity:0.5;
    -webkit-opacity:0.5;
    filter:alpha(opacity=50);
    transition:all 0.5s ease-in;
    -webikt-transition:all 0.5s ease-in;
    -ms-transition:all 0.5s ease-in;
    -moz-transition:all 0.5s ease-in;
    transform:scale(1.00);
    -webkit-transform:scale(1.00);
    -ms-transform:scale(1.00);
    -moz-transform:scale(1.00);
    cursor:url(../images/LinkSelect.cur),auto;
    z-index:10;
}
#imgdiv img{
    width:70px;
    height:50px;
    position:absolute;
    bottom:8%;
    left:49%;
    transition:all 0.2s ease-in;
    -webkit-transition:all 0.2s ease-in;
    -moz-transition:all 0.2s ease-in;
    -ms-transition:all 0.2s ease-in;
}
#container img{
    width:50px;
    height:50px;
    position:absolute;
    right:5%;
    top:5%;
}
#imgdiv img:hover,#container img:hover{
    transform:scale(1.20);
    -webkit-transform:scale(1.20);
    -ms-transform:scale(1.20);
    -moz-transform:scale(1.20);
    opacity:0.9;
    -webkit-opacity:0.9;
    filter:alpha(opacity=90);
}



#container{
    width:100%;
    height:100%;
    background:white;
    position:relative;
    overflow:hidden;
    display:none;/*此处控制内容快显示*/
}





#erye{
    width:70%;
    height:90%;
    background-color:rgb(227,225,226);
    position:absolute;
    left:15%;
    top:5%;
    border:4px solid rgb(210,215,220);
    overflow:hidden;
    border-radius:20px;
}
#si{
    width:100%;
    height:100%;
}
#si li{
    background-size:cover;
    border:5px solid rgb(255,255,255);
    position:absolute;
    border-radius:5%;
    transition:all 1s ease-in;
    -webkit-transition:all 1s ease-in;
    z-index:10;
    cursor:url(../images/LinkSelect.cur),auto;
}



#si li:nth-of-type(1){
    background-image:url(../images/89.jpg);
    height:70%;
    width:60%;
    left:-50%;
    top:15%;
}
#si li:nth-of-type(1):hover{
    left:0;
}
#si li:nth-of-type(2){
    background-image:url(../images/90.jpg);
    width:70%;
    height:30%;
    top:-20%;
    left:15%;
}
#si li:nth-of-type(2):hover{
    top:0;
}
#si li:nth-of-type(3){
    background-image:url(../images/91.jpg);
    height:70%;
    width:60%;
    right:-50%;
    top:15%;
}
#si li:nth-of-type(3):hover{
    right:0;
}
#si li:nth-of-type(4){
    background-image:url(../images/92.jpg);
    width:70%;
    height:30%;
    bottom:-20%;
    left:15%;
}
#si li:nth-of-type(4):hover{
    bottom:0;
}



#text{
    position:absolute;
    width:60%;
    height:60%;
    top:20%;
    left:20%;
}
#text li{
    font-family:zhongqian;
    font-size:20px;
    padding-bottom:2px;
}
#text .first{
    padding-top:10px;
    padding-bottom:10px;
    font-size:30px;
}




/*flash*/
#enter,embed:nth-of-type(1){
    position:absolute;
    width:100%;
    height:100%;
    /* display:none; *//*控制flsh快的隐藏*/
}
#enter{
    -webkit-perspective:1200px;
    -moz-perspective:1200px;
    -ms-perspective:1200px;
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
}
#button{
    position:absolute;
    width:10%;
    height:10%;
    top:45%;
    left:45%;
    font-family:akaDora;
    font-size:50px;
    color:white;
    cursor:url(../images/LinkSelect.cur),auto;
    z-index:99;
    transition:all 1s ease-in;
    -webkit-transition:all 1s ease-in;
}
#button:hover{
    transform:scale(1.2);
    -webkit-transform:scale(1.2);
}

#nav .curr{
    background-color:rgba(198,181,165,0.9);
}