#container .li1{
    width:44px;
    height:115px;
    position:absolute;
    top:97px;
    right:0;
    font-size:34px;
}
#container .li2{
    height:176px;
    top:66px;
    right:50px;
    position:absolute;
}
#container .li3{
    height:308px;
    top:2px;
    right:78px;
    position:absolute;
}
#container .li4{
    height:286px;
    top:11px;
    right:106px;
    position:absolute;
}
#container .li5{
    height:242px;
    right:134px;
    top:33px;
    position:absolute;
}
#container .li6{
    height:220px;
    top:44px;
    right:162px;
    position:absolute;
}
#container .li7{
    height:176px;
    top:66px;
    right:190px;
    position:absolute;
}
#container .li8{
    height:242px;
    top:33px;
    right:218px;
    position:absolute;
}
#container .li9{
    height:308px;
    top:2px;
    right:246px;
    position:absolute;
}
#container .li10{
    height:220px;
    top:44px;
    right:274px;
    position:absolute;
}
#container .li11{
    height:132px;
    top:88px;
    right:302px;
    position:absolute;
}
#container .li12{
    height:154px;
    top:77px;
    right:330px;
    position:absolute;
}
#container .li13{
    height:198px;
    top:55px;
    right:358px;
    position:absolute;
}
#container .li14{
    height:264px;
    top:22px;
    right:386px;
    position:absolute;
}
#container .li15{
    height:198px;
    top:55px;
    right:414px;
    position:absolute;
}
#container .li16{
    height:154px;
    top:77px;
    right:442px;
    position:absolute;
}
#container .li17{
    height:154px;
    top:77px;
    right:470px;
    position:absolute;
}
#container .li18{
    height:198px;
    top:55px;
    right:498px;
    position:absolute;
}
#container .li19{
    height:198px;
    top:55px;
    right:526px;
    position:absolute;
}
#container .li20{
    height:154px;
    top:77px;
    right:554px;
    position:absolute;
}
#container .li21{
    height:198px;
    top:55px;
    right:582px;
    position:absolute;
}