#box{
    width:100%;
    height:100%;
    background-image:url(../images/78.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:50% 50%;
    overflow:hidden;
    position:relative;
}
#container{
    font-family:shouxie;
    font-size:18px;
    height:312px;
    width:375px;
    position:absolute;
    top:30px;
    right:360px;
    transform:rotate(3deg);
    -webkit-transform:rotate(3deg);
}
#container li{
    cursor:url(../images/TextSelect.cur),auto;
}
#container li::selection{
    background:red;
    color:white;
}
#nav{
    left:40px
}
#nav .curr{
    background-color:rgba(199,206,123,0.9);
}

#flash1,#div1{
    width:500px;
    height:500px;
    position:absolute;
    left:10%;
    bottom:-7%;
}
#flash2,#div2{
    width:380px;
    height:380px;
    position:absolute;
    right:20%;
    bottom:-5%;
}
#flash1,#flash2{
    z-index:0;
}
#div1,#div2{
    z-index:99;
}