.ziul .li1{
    margin-top:175px;
}
.ziul .li2{
    margin-top:29px;
}
.ziul .li3{
    margin-top:0px;
}
.ziul .li4{
    margin-top:131px;
}
.ziul .li5{
    margin-top:29px;
}
.ziul .li6{
    margin-top:0px;
}
.ziul .li7{
    margin-top:102px;
}
.ziul .li8{
    margin-top:145px;
}
.ziul .li9{
    margin-top:145px;
}
.ziul .li10{
    margin-top:160px;
}
.ziul .li11{
    margin-top:160px;
}
.ziul .li12{
    margin-top:145px;
}
.ziul .li13{
    margin-top:116px;
}
.ziul .li14{
    margin-top:116px;
}
.ziul .li15{
    margin-top:145px;
}
.ziul .li16{
    margin-top:58px;
}
.ziul .li17{
    margin-top:72px;
}
.ziul .li18{
    margin-top:188px;
}
.ziul .li19{
    margin-top:160px;
}
.ziul .li20{
    margin-top:160px;
}
