#box,#bg{
    height:100%;
    width:100%;
}
#box{
    position:relative;
    overflow:hidden;
}
#bg{
    position:absolute;
}
#bg li{
    width:100%;
    height:100%;
    background-size:cover;
    background-position:50% 50%;
    position:absolute;
    z-index:0;
    display:none;
}
#bg .first{
    display:block;
    z-index:0;
}
#bg li:nth-of-type(1){
    background-image:url(../images/84.jpg);
}
#bg li:nth-of-type(2){
    background-image:url(../images/85.jpg);
}
#bg li:nth-of-type(3){
    background-image:url(../images/86.jpg);
}
#bg li:nth-of-type(4){
    background-image:url(../images/87.jpg);
}
#bg li:nth-of-type(5){
    background-image:url(../images/88.jpg);
}
#box .bg{
    width:70px;
    height:70px;
    border-radius:50%;
    font-size:30px;
    color:rgba(255,255,255,0.6);
    font-weight:bold;
    position:absolute;
    z-index:99;
    cursor:url(../images/LinkSelect.cur),auto;
    background-color:rgba(192,192,192,0.6);
    top:46%;
}
#box .bg:nth-of-type(1){
    left:1%;
}
#box .bg:nth-of-type(2){
    right:1%;
}

.en input,.zh input{
    position:absolute;
    right:5px;
    top:5px;
    border-radius:50%;
    width:60px;
    height:60px;
    background-color:rgba(255,255,255,0);
    cursor:url(../images/LinkSelect.cur),auto;
}


.en,.zh{
    width:530px;
    height:495px;
    position:absolute;
    border:2px solid white;
    font-size:26px;
    background-color:rgba(86,49,30,0.2);
}
.text{
    width:534px;
    height:499px;
    position:absolute;
}
#text1{
    display:none;
}
#text2{
    display:none;
}
.pos1{
    right:10%;
    top:-2px;
}
.pos2{
    left:25%;
    bottom:-2px;
}
.pos3{
    left:10%;
    top:-2px;
}
.pos4{
    right:10%;
    top:10%;
}
.pos5{
    right:10%;
    top:10%;
}
.pos4 .en li,.pos4 .zh li,.pos4 input,.pos4 input{
    color:white;
}



.en{
    font-family:akaDora;
}
.zh{
    font-family:shuizhu;
}
.en li,.zh li{
    width:530px;
    cursor:url(../images/TextSelect.cur),auto;
    height:32px;
    line-height:32px;
    padding-bottom:5px;
}
.en .first,.zh .first{
    padding-bottom:5px;
    padding-top:5px;
    font-size:34px;
    font-weight:bold;
    height:41px;
    line-height:41px;
}
.en{
    display:block;
}
.zh{
    display:none;
}
#nav .curr{
    background-color:rgba(148,115,132,0.9);
}