*{
    padding:0;
    margin:0;
}
html,body{
    height:100%;
    width:100%;
    cursor:url(../images/NormalSelect.cur),auto;
}
li{
    list-style:none;
    text-align:center;
}
a{
    text-decoration:none;
    cursor:url(../images/LinkSelect.cur),auto;
}
h1{
    text-align:center;
}
@font-face{
    font-family:zhongqian;
    src:url(../fonts/zhongqian.ttf);
}
@font-face{
    font-family:xingkai;
    src:url(../fonts/xingkai.ttf);
}
@font-face{
    font-family:shouxie;
    src:url(../fonts/shouxie.otf);
}
@font-face{
    font-family:shuizhu;
    src:url(../fonts/shuizhu.TTF);
}
@font-face{
    font-family:akaDora;
    src:url(../fonts/akaDora.ttf);
}