summer(a,b)
  a - b

div
  width  200px
  height summer(45px,5px)
  background darkorange


@css{
  h1{
    height: 300px;
    width: 300px;
    background: green;
  }
}

h2
  width: 100px
  height: 100px
  background: darksalmon
  animation: car 3s infinite

@keyframes car
  0%
    opacity 1

  100%
    opacity 0
